* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 10px;

    & > div {
        margin: 10px;
    }
}

#container {
    text-align: center;

    svg {
        border: 1px solid #000
    }
}

#time-slider {
    margin-top: 10px;
}