* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    svg {
        border: 1px solid #000
    }
}

#main {
    margin: 20px;
}

#map-row {
    display: flex;
    justify-content: center;

    & > div {
        margin: 0 10px;
    }
}

#map-container {
    text-align: center;
}

#param-container {
    margin: 0 10px;

    svg + svg {
        border-left: none;
    }
}

#slice-selector {
    display: flex;
    margin: 5px 0;
    align-items: center;

    #time-slider {
        margin-right: 5px;
    }

    #time-input {
        width: 60px
    }
}