* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 10px;

    & > div {
        margin: 10px;
    }
}

#container {
    text-align: center;

    svg {
        border: 1px solid #000
    }
}

#slice-selector {
    display: flex;
    margin: 5px 0;
    align-items: center;

    #time-slider {
        margin-right: 5px;
    }

    #time-input {
        width: 60px
    }
}